# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data files (large datasets)
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/cache/

# Keep folder structure but not files
!data/raw/.gitkeep
!data/processed/.gitkeep

# # Models (can be large)
# models/*.pkl
# models/*.joblib
# models/*.h5

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
notebooks/data/cache/fastf1_http_cache.sqlite
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-03-05_Bahrain_Grand_Prix/2023-03-05_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-04-02_Australian_Grand_Prix/2023-04-02_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-04-30_Azerbaijan_Grand_Prix/2023-04-30_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-05-07_Miami_Grand_Prix/2023-05-07_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-05-28_Monaco_Grand_Prix/2023-05-28_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-06-04_Spanish_Grand_Prix/2023-06-04_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-06-18_Canadian_Grand_Prix/2023-06-18_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-02_Austrian_Grand_Prix/2023-07-02_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-09_British_Grand_Prix/2023-07-09_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-23_Hungarian_Grand_Prix/2023-07-23_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-07-30_Belgian_Grand_Prix/2023-07-30_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-08-27_Dutch_Grand_Prix/2023-08-27_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-03_Italian_Grand_Prix/2023-09-03_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-17_Singapore_Grand_Prix/2023-09-17_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-09-24_Japanese_Grand_Prix/2023-09-24_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-08_Qatar_Grand_Prix/2023-10-08_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-22_United_States_Grand_Prix/2023-10-22_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-10-29_Mexico_City_Grand_Prix/2023-10-29_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-05_São_Paulo_Grand_Prix/2023-11-05_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-18_Las_Vegas_Grand_Prix/2023-11-18_Race/weather_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/_extended_timing_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/car_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/driver_info.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/lap_count.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/position_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/race_control_messages.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/session_info.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/session_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/timing_app_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/track_status_data.ff1pkl
notebooks/data/cache/2023/2023-11-26_Abu_Dhabi_Grand_Prix/2023-11-26_Race/weather_data.ff1pkl
